:root {
  /* Variables */
  --button-height: 60px;
}

.Button {
  width: 250px;
  height: var(--button-height);
  display: inline-block;

  /* Default color */
  background-color: var(--jd-gray);

  text-align: center;
  line-height: var(--button-height);
  vertical-align: middle;
  font-size: 1.5em;
  color: rgba(10, 10, 10, 0.9);
  box-shadow: var(--menu-shadow);

  transition: background-color 150ms ease;
}

.primary {
  background-color: var(--jd-yellow);
}

.navbar-tab {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  color: var(--jd-gray);
  font-size: var(--navbar-font-size);
  text-shadow: var(--menu-shadow);
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  border-radius: 5px;
}

.navbar-icon {
  vertical-align: top;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  padding-right: 5px;
  pointer-events: none;
}

.navbar-tab-active {
  color: var(--jd-yellow);
}

.delete-button {
  border-radius: 5px;
  background-color: #D62727;
  color: rgba(250, 250, 250, 0.8) !important;
}

.delete-button.inactive {
  border-radius: 5px;
  background-color: #D62727;
  color: rgba(250, 250, 250, 0.5) !important;
}

.Button:hover {
  cursor: pointer;
  background-color: var(--jd-green) !important;
}

.navbar-tab-active:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0) !important;
}

.Button:active {
  filter: brightness(95%);
}

.inactive {
  color: rgba(10, 10, 10, 0.5);
}

.inactive:hover {
  cursor: default;
  filter: none;
  background-color: var(--jd-gray) !important;
}

.primary.inactive:hover {
  background-color: var(--jd-yellow) !important;
}

.inactive:active {
  filter: none;
}

.delete-button:hover {
  background-color: #951B1B !important;
}

.delete-button:hover.inactive {
  background-color: #D62727 !important;
}
