.LangSelection {
  display: inline-block;
  padding-left: 20px;
  height: 20px;
}

.LangSelection:hover {
  cursor: pointer;
}

.lang-sel-flag, .lang-sel-text {
  display: inline-block;
}

.lang-sel-flag {
  width: 30px;
  height: 20px;
  box-shadow: var(--menu-shadow);
  background-position: center;
  background-size: cover;
}

.lang-sel-text {
  color: var(--jd-gray);
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding-left: 5px;
  font-size: 1.1em;
  width: 4em;
}
