.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 1;
}

.loader span {
  background: var(--jd-gray);
  box-shadow: 1px 2px 3px #999;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  animation: loading .8s ease infinite;
  opacity: 0.1;
}  

.loader span:nth-child(1){
  animation-delay: 0;
}

.loader span:nth-child(2){
  animation-delay: 300ms;
}

.loader span:nth-child(3) {
  animation-delay: 200ms;
}

.loader span:nth-child(4) {
  animation-delay: 100ms;
}

@keyframes loading {

  0%, 100% {
    background-color: var(--jd-gray);
    transform: scale(1);
    opacity: 0;
  }

  10% {
    background-color: var(--jd-green);
    transform: scale(2);
    opacity: 1;
  }
}