.notification-box {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  z-index: 999;  
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: var(--menu-shadow);
  background-color: var(--jd-yellow);
  border-radius: 3px;
}

.notification-box span {
  color: black;
}

.notification-box:hover {
  cursor: pointer;
}