.Profile {
	margin: auto;
}

#left-content {
	background-color: var(--jd-gray);
	color: rgba(10, 10, 10, 0.9);
	box-shadow: var(--menu-shadow);
	display:inline-block;
	margin: 20px;
	vertical-align: top;
	min-width: 500px;
	max-height: 60vh;
	overflow-y: auto;
}

#left-content table {
	width: 500px;
	border-collapse: collapse;
	table-layout: fixed;
}

#map-search {
	width: 200px;
	background: transparent;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

ul {
	list-style-type: none;
}

#right-content > h1 {
	text-align: center;
}

#profile-header, #user-info, #profile-content {
	padding: 10px;
}

#profile-header {
	text-align: center;
}

#profile-score-info td {
	padding: 5px;
}

td {
	text-align: center;
}

thead tr {
	background-color: var(--jd-gray) !important;
}

tr:nth-child(even) {
    background-color: #d1d2d2;
}

tr:nth-child(odd) {
    background-color: #dbdcdc;
}

#profile-score-info td:nth-child(2){
	max-width: 100px;
	max-height: 50px;
}

#profile-no-scores {
	color: grey;
	text-align: center;
}

#user-info-username, #user-info-email {
	display: block;
	padding: 5px;
}

#user-info-username-header, #user-info-username-icon {
	vertical-align: middle;
	display: inline;
}

#user-info-username-icon, #user-info-email-icon {
	vertical-align: middle;
	height: var(--navbar-height);
  	line-height: var(--navbar-height);
	margin: auto;
}

#user-info-username-header, #user-info-email-paragraph {
	padding-left: 10px;
}

#user-info-email-paragraph, #user-info-email-icon {
	display: inline;
}