.Profile {
	margin: auto;
}

#left-content {
	background-color: var(--jd-gray);
	color: rgba(10, 10, 10, 0.9);
	box-shadow: var(--menu-shadow);
	display:inline-block;
	margin: 20px;
	vertical-align: middle;
}

ul {
	list-style-type: none;
}

#right-content {
	display:inline-block;
	background-color: var(--jd-gray);
	width: 400px;
	height: 500px;
	margin: 20px;
	vertical-align: middle;
}

#right-content > h1 {
	text-align: center;
}

#report {
	margin: 20px;
}

#report span {
	float: right;
}

#report-general, #report-stats {
	margin: 10px;
}

#profile-header, #user-info, #profile-content {
	padding: 10px;
}

#profile-header {
	text-align: center;
}

#profile-score-info td:nth-child(2){
	max-width: 100px;
	max-height: 50px;
}

#profile-no-scores {
	color: grey;
	text-align: center;
}

#user-info-username, #user-info-email {
	display: block;
	padding: 5px;
}

#user-info-username-header, #user-info-username-icon {
	vertical-align: middle;
	display: inline;
}

#user-info-username-icon, #user-info-email-icon {
	vertical-align: middle;
	height: var(--navbar-height);
  	line-height: var(--navbar-height);
	margin: auto;
}

#user-info-username-header, #user-info-email-paragraph {
	padding-left: 10px;
}

#user-info-email-paragraph, #user-info-email-icon {
	display: inline;
}