#closeButton {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
	line-height: 40px !important;
}

#endgame-report {
	min-width: 250px;
	float: right;
	max-height: 100vh;
	overflow-y: auto;
}

#endgame-report > * {
	padding: 10px;
}

#endgame-report span, #report span {
	float: right;
}

#detailed-stats {
	width: 100%;
}

#endgame-report h1, #endgame-report h2, #endgame-report h3 {
	color: #eee;
}

#right-content {
	display:inline-block;
	background-color: var(--jd-gray);
	width: 300px;
	margin: 20px;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	max-height: 100%;
	overflow-y: auto;
}

#right-content:empty {
	display: none;
}

.Report p {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
